@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="text-center ">
            <button id="btnList" type="button" class="btn btn-primary btn-lg btn-block">Listar</button>
    </div>
</div>

<div class="row">
    <div class="card-group pt-5" id="oxxos">

    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script>
    $(function () {

        $("#btnList").click(function () {
            $.ajax({
                type: "GET",
                url: "https://localhost:44351/BO/List",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        $("#oxxos").html('');
                        $.each(data.ResponseObject, function (key, val) {
                            $("#oxxos").append(
                            `<div class="col-xl-4 col-sm-6 box-col-4">
                                <div class="card">
                                    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d81c2517a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d81c2517a%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">${val.Name}</h5>
                                        <p class="card-text">${val.Code}</p>
                                        <p class="card-text">${val.Street + ' ' + val.City + ' ' + val.State + ' ' + val.Country}</p>
                                        <a href="${val.UrlMaps}" target="_blank" class="btn btn-primary">Ver en Maps</a>
                                    </div>
                                </div>
                            </div>`);
                        });
                    } else {
                        alert("Algo salio mal, reintenta");
                    }
                },
                failure: function (data) {
                },
                error: function (data) {
                }
            });
        });
    });
</script>