body{
    padding:5px;
}

.header {
    width: 100%;
    height: 200px;
    background-color: #CCC;
}

.nav-left{
    width:30%;
    height:500px;
    float: left;
    background-color:#808080;
}

.content{
    width: 70%;
    height: 500px;
    float: left;
    background-color:#a8a8a8;
}

.footer {
    background-color: #8d8d8d;
    width: 100%;
    height: 200px;
    position:relative;
    margin-top: 500px;
    text-align:center;
}


/*Media Queries*/
@media only screen and (max-width: 600px){

    .header{
        background-color:aqua;
        height:50px;
    }
    .primaryImage{
        display:none;
    }

    .secondaryImage{
        width:32px;
        height:32px;
    }
    .h1custom{
        color:forestgreen;
    }
}
